@page
@model IndexModel
@{
    ViewData["Title"] = "Inventory System Homepage";
}

<div class="text-center">
    <h1 class="display-4">ยินดีต้อนรับ</h1>
    <p>ร้านขนมออนไลน์ที่ใหญ่ที่สุดในย่านนี้</p>
    <img src="/images/logo.png" width="50%"/>
</div>
